<?xml version="1.0"?>
<robot name="imports" xmlns:xacro="http://wiki.ros.org/xacro">


  <!--xacro:include filename="../models/rm2_body.xacro" />
  <xacro:include filename="../models/rm2_leg.xacro" /-->

  <xacro:include filename="$(find attachable_pkg)/models/xacro_files/rm2_body.xacro"/>
  <xacro:include filename="$(find attachable_pkg)/models/xacro_files/rm2_leg.xacro" />

</robot>