<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="import_path.xacro"/>
  <xacro:body sufix="1"/>
  <xacro:leg sufix="1"/>
  <joint name="AttachableJoint_1body1_1leg1" type="fixed">
    <parent link="AttachableLink_1_body_1"/>
    <child link="AttachableLink_1_leg_1"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  <xacro:leg sufix="2"/>
  <joint name="AttachableJoint_1body1_1leg1" type="fixed">
    <parent link="AttachableLink_2_body_1"/>
    <child link="AttachableLink_1_leg_2"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  <xacro:body sufix="2"/>
  <joint name="AttachableJoint_1body1_1leg1" type="fixed">
    <parent link="AttachableLink_3_body_1"/>
    <child link="AttachableLink_1_body_2"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  <xacro:leg sufix="3"/>
  <joint name="AttachableJoint_1body1_1leg1" type="fixed">
    <parent link="AttachableLink_2_body_2"/>
    <child link="AttachableLink_1_leg_3"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  <xacro:leg sufix="4"/>
  <joint name="AttachableJoint_1body1_1leg1" type="fixed">
    <parent link="AttachableLink_3_body_2"/>
    <child link="AttachableLink_1_leg_4"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
</robot>
